<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag 'hello', media: 'all' %>
</head>

<body>
  <div class="content">
    <p>
  </div>
  <div class="image-container">
    <%= image_tag 'nikibigirl.png', class: 'example-image' %>
    <div class="vertical-text">
      "自分の肌と向き合って、もっと自分を好きになろう"
    </div>
    <%= image_tag 'nikibiboy.png', class: 'example-image' %>
  </div>
  <div class="button">
    

  


<div class="lady">
 
<%= link_to "自分に合ったスキンケアを診断する", tests_index_path %>
    
</div>
</body>


</html>