<h1>第2問 (パターン2)</h1>
<p>どんなニキビ跡に悩んでる？</p>

<%= link_to "赤みのあるニキビ跡", tests_show1_path %>
<%= link_to "色素沈着のあるニキビ跡", tests_show2_path %>
<%= link_to "凹凸のあるニキビ跡", tests_show3_path %>
<%= link_to "ケロイドのあるニキビ跡", tests_show4_path %>